div {
  height: 100px;
  width: 100px;
  background-color:royalblue;
  color: white;
  border: 1px solid black;
}

#mode {
  background-color: white;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}